/* line 4, ../sass/resume.scss */
body {
  background: url("/images/body-bg.png") repeat-y;
  /*  background: url(1px.png) ;*/
  background-size: 58.33333% auto;
}

/* line 15, ../sass/resume.scss */
abbr, abbr[title] {
  border-bottom-color: #ddd;
  font-size: 100%;
  color: inherit;
}

/* line 21, ../sass/resume.scss */
.row .small-caps, .row .resume h4, .resume .row h4 {
  font-size: 90%;
}

/* line 46, ../sass/resume.scss */
.resume .title {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  line-height: 1.6;
  margin-bottom: 0;
}
/* line 54, ../sass/resume.scss */
.resume h2 {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 0.03em;
  line-height: 1.6;
  margin: 2em 0 1em;
}
/* line 63, ../sass/resume.scss */
.resume dl, .resume dt, .resume dd {
  margin: 0;
}
/* line 66, ../sass/resume.scss */
.resume h3 {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 2em;
}
/* line 70, ../sass/resume.scss */
.resume .org-name, .resume time {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}
/* line 73, ../sass/resume.scss */
.resume p {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 1em;
}
/* line 82, ../sass/resume.scss */
.resume p + p {
  margin-top: 0;
  text-indent: 25px;
}
/* line 87, ../sass/resume.scss */
.resume h4 {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  margin: 1em 0 -1em;
  /* Just for FF Mac: margins ignored when display:run-in works */
  display: run-in;
  /* Explore float:left if you start to care about FF Mac (apparently they alone literally don't like the spec, since CSS2.1!): */
  text-transform: uppercase;
}
/* line 98, ../sass/resume.scss */
.resume h4::after {
  content: "\00A0\00A0\00A0\00A0";
}
/* line 102, ../sass/resume.scss */
.resume .meta span, .resume .meta a {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}
/* line 106, ../sass/resume.scss */
.resume .experience.columns {
  border-right: 1px solid #ccc;
}
/* line 109, ../sass/resume.scss */
.resume .experience ol li {
  list-style-type: none;
}
/* line 110, ../sass/resume.scss */
.resume .experience ol li:first-child h3 {
  margin-top: 0;
}
/* line 115, ../sass/resume.scss */
.resume .non-experience .education-list dt, .resume .non-experience h3 {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 0;
}
/* line 118, ../sass/resume.scss */
.resume .non-experience .education-list dt {
  margin-top: 1em;
}
/* line 121, ../sass/resume.scss */
.resume .non-experience .education-list dd {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}
/* line 124, ../sass/resume.scss */
.resume .non-experience h3 {
  margin-top: 1em;
}
/* line 127, ../sass/resume.scss */
.resume .non-experience dt:first-child, .resume .non-experience h3:first-child {
  margin-top: 0;
}

/* line 134, ../sass/resume.scss */
.experience {
  /* TODO: No decent column-span suppport yet on desktop (just IE10 & Opera as of 2013/08): http://quirksmode.org/css/columns/ & http://quirksmode.org/css/columns/mobile.html
    .exp-columns {
      &.span-all {
        @include column-span(all);
      }
      &.columns {
        @include column-count(2);
        @include column-gap(2em);
      }
    }
  */
}
